.header {
  grid-row: 1/2;
}
.header__bar {
  background: royalblue;
  text-align: center;
  color: hotpink;
  font-size: larger;
  align-items: center;
  font-family: 'Montserrat', sans-serif;
  display: flex;
  overflow-x: auto;
  align-items: center;
}

.header__title {
  align-items: center;
  text-align: center;
  padding-top: 10px;
}

.header__icon {
  padding: 0;
}
