.buttons {
  background-color: var(--color-white-green);
  border: none;
  color: black;
  text-decoration: none;
  border-radius: 5px;
  padding: 12px 30px 12px;
  font-size: 16px;
  cursor: default;
  font-family: inherit;
}

.button-small {
  display: block;
  width: 60%;
  text-align: center !important;
}

.button-single {
  display: inline-block;
  margin: 0 auto;
  width: 50%;
  text-align: center !important;
}
