<section class="form__grid">
  <fieldset class="form__fieldset">
    <div data-js="formInput">
      <label class="form__label mb-10 mt-20" for="addquestion"
        >Add question:</label
      >
      <textarea
        maxlength="100"
        name="question"
        class="form__text-input"
        rows="5"
        cols="80"
        placeholder="..."
        data-js="textarea"
      ></textarea>
      <span class="form__counter" data-js="counter"></span>
    </div>

    <div data-js="formInput">
      <label class="form__label mb-10 mt-20" for="addanswer">Add answer:</label>
      <textarea
        maxlength="100"
        name="question"
        class="form__text-input"
        rows="3"
        cols="80"
        placeholder="..."
        data-js="textarea"
      ></textarea>
      <span class="form__counter" data-js="counter"></span>
    </div>

    <div data-js="formInput">
      <label class="form__label mb-10 mt-20" for="addtags">Add tags:</label>
      <textarea
        maxlength="50"
        name="question"
        class="form__text-input"
        rows="1"
        cols="80"
        placeholder="..."
        data-js="textarea"
      ></textarea>
      <span class="form__counter" data-js="counter"></span>
    </div>
  </fieldset>

  <button type="button" class="buttons button-single">Submit</button>
</section>
