.header {
  position: fixed;
  top: 0;
  width: 100%;
  height: 48px;
  z-index: 1;
  padding: 2px 0 2px;
  text-align: center;
  background-size: cover;
  background: var(--color-red);
}
.header__title {
  text-align: center;
  font-size: 1.8em;
  font-weight: bold;
  align-items: center;
  margin: 0;
  line-height: 1.5;
  color: var(--color-white);
}
