<nav class="navigation">
  <a data-js="nav-btn-1" class="navigation__link navigation__link--active">
    <i class="material-icons navigation__icon">home</i>
    <span class="navigation__text">Home</span>
  </a>

  <a data-js="nav-btn-2" class="navigation__link">
    <i class="material-icons navigation__icon">bookmark</i>
    <span class="navigation__text">Bookmarks</span>
  </a>
  <a data-js="nav-btn-3" class="navigation__link">
    <i class="material-icons navigation__icon">create</i>
    <span class="navigation__text">Create</span>
  </a>

  <a data-js="nav-btn-4" class="navigation__link">
    <i class="material-icons navigation__icon">person</i>
    <span class="navigation__text">Profile</span>
  </a>
</nav>
