<section data-js="quizCard" class="quiz-card__grid">
  <a
    data-js="bookmarkBtn1"
    class="quiz-card__bookmark"
    title="Put a bookmark in this card"
    ><i data-js="bookmarkOnOff1" class="material-icons icon__font-size"
      >bookmark_border</i
    ></a
  >

  <h2>Question 1:</h2>
  <h3 class="mt-0">Where are the delicious "Tamales" from?</h3>

  <button class="buttons button-small" data-js="quizBtnAnswer">
    Show answer
  </button>
  <p class="hidden buttons mt-5 mb-5 button-small" data-js="quizAnswer">
    Mexico
  </p>

  <section class="quiz-card__tags">
    <span class="quiz-card__tags-option" role="button">#Foodies</span>
    <span class="quiz-card__tags-option" role="button">#Geography</span>
    <span class="quiz-card__tags-option" role="button">#Travel</span>
    <span class="quiz-card__tags-option" role="button">#Latin America</span>
  </section>
</section>

<section data-js="quizCard" class="quiz-card__grid">
  <a
    data-js="bookmarkBtn2"
    class="quiz-card__bookmark"
    title="Put a bookmark in this card"
    ><i
      data-js="bookmarkOnOff2"
      class="material-icons navigation__icon icon__font-size"
      >bookmark_border</i
    ></a
  >

  <h2>Question 2:</h2>
  <h3 class="mt-0">
    What do you get in a restaurant in Thailand when you order "Tom Yum Kung"?
  </h3>

  <button class="buttons button-small" data-js="quizBtnAnswer">
    Show answer
  </button>
  <p class="hidden buttons mt-5 mb-5 button-small" data-js="quizAnswer">
    A sour and spicy soup
  </p>

  <section class="quiz-card__tags">
    <span class="quiz-card__tags-option" role="button">#Foodies</span>
    <span class="quiz-card__tags-option" role="button">#Geography</span>
    <span class="quiz-card__tags-option" role="button">#Travel</span>
    <span class="quiz-card__tags-option" role="button">#Latin America</span>
  </section>
</section>

<section data-js="quizCard" class="quiz-card__grid">
  <a
    data-js="bookmarkBtn3"
    class="quiz-card__bookmark"
    title="Put a bookmark in this card"
    ><i data-js="bookmarkOnOff3" class="material-icons icon__font-size"
      >bookmark_border</i
    ></a
  >

  <h2 class="mb=0">Question 3:</h2>
  <h3 class="mt=0">
    What is the minimum percentage of alcohol a table wine must have?
  </h3>

  <button class="buttons button-small" data-js="quizBtnAnswer">
    Show answer
  </button>
  <p class="hidden buttons mt-5 mb-5 button-small" data-js="quizAnswer">8.5%</p>

  <section class="quiz-card__tags">
    <span class="quiz-card__tags-option" role="button">#Foodies</span>
    <span class="quiz-card__tags-option" role="button">#Geography</span>
    <span class="quiz-card__tags-option" role="button">#Travel</span>
    <span class="quiz-card__tags-option" role="button">#Latin America</span>
  </section>
</section>

<section class="quiz-card__space-under"></section>
