<section class="quiz-card__grid">
  <span class="quiz-card__bookmark"></span>

  <h2>Question 1:</h2>
  <h3>Where are the delicious "Tamales" from?</h3>

  <details class="quiz-card__answer-button">
    <summary>Show answer</summary>
    <p>a</p>
  </details>

  <section class="quiz-card__answers">
    <span class="quiz-card__answers-option" role="button">a) Mexico</span>
    <span class="quiz-card__answers-option" role="button">b) Germany</span>
    <span class="quiz-card__answers-option" role="button">c) Chile</span>
    <span class="quiz-card__answers-option" role="button">d) France</span>
  </section>
</section>

<section class="quiz-card__grid">
  <span class="quiz-card__bookmark"></span>

  <h2>Question 2:</h2>
  <h3>
    What do you get in a restaurant in Thailand when you order "Tom Yum Kung"?
  </h3>

  <details class="quiz-card__answer-button">
    <summary>Show answer</summary>
    <p>a</p>
  </details>

  <section class="quiz-card__answers">
    <span class="quiz-card__answers-option" role="button"
      >a) A sour and spicy rice bowl</span
    >
    <span class="quiz-card__answers-option" role="button"
      >b) Special noodles</span
    >
    <span class="quiz-card__answers-option" role="button"
      >c) A sour and spicy soup</span
    >
    <span class="quiz-card__answers-option" role="button">d) A dessert</span>
  </section>
</section>

<section class="quiz-card__grid">
  <span class="quiz-card__bookmark"></span>

  <h2>Question 3:</h2>
  <h3>What is the minimum percentage of alcohol a table wine must have?</h3>

  <details class="quiz-card__answer-button">
    <summary>Show answer</summary>
    <p>a</p>
  </details>

  <section class="quiz-card__answers">
    <span class="quiz-card__answers-option" role="button">a) 8% </span>
    <span class="quiz-card__answers-option" role="button">b) 7%</span>
    <span class="quiz-card__answers-option" role="button">c) 8.5%</span>
    <span class="quiz-card__answers-option" role="button">d) 9%</span>
  </section>
</section>
