.quiz-card__grid {
  display: grid;
  align-content: center;
  gap: 5px;
  padding: 2px 16px;
  width: 80%;
  border: 2px solid var(--color-red);
  margin: 30px auto -5px;
  background-color: #ffffff;
  text-align: center;
  border-radius: 5px;
  position: relative;
}

.quiz-card__bookmark--active {
  position: absolute;
  top: -20px;
  right: 50px;
  height: 0px;
  width: 0px;
  color: var(--color-red);
}

.quiz-card__bookmark--inactive {
  position: absolute;
  top: -20px;
  right: 50px;
  height: 0px;
  width: 0px;
  border: 2px solid var(--color-red);
}

/*


  


.quiz-card__bookmark {
  position: absolute;
  right: var(--space-medium);
  top: -8px;
  font-size: 2em;
  color: var(--color-rich-black);
  text-decoration: none;
}

.quiz-card__bookmark.quiz-card__bookmark--active,
.quiz-card__bookmark:hover {
  color: var(--color-sky-blue1);
  transition: all 0.3s ease-out;
}

*/

/*
.quiz-card__bookmark--active CAMBIAR EN TODOS LADOS {
  height: 20px;
  width: 0px;
  border: 20px solid var(--color-red);
  border-bottom-color: #ffffff;
  top: 0px;
  right: 0px;
  position: absolute;
  overflow: hidden;
  cursor: default;
}
*/

.quiz-card__grid > *:last-child {
  position: relative;
}
.quiz-card__grid > *:last-child:after {
  content: '';
  display: block;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 35px;
}

.quiz-card__answer-button {
  background-color: var(--color-white-green);
  border: none;
  color: black;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border-radius: 5px;
  padding: 12px 30px 12px;
  font-size: 16px;
  width: auto;
  cursor: default;
  margin-top: 5px;
}

.quiz-card__answers {
  display: inline-block;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: left;
  height: auto;
  margin-top: 20px;
}

.quiz-card__answers-option {
  display: inline-block;
  flex-grow: 1;
  border: 1px solid var(--color-white-green);
  padding: 4px 8px;
  padding: 12px 30px 12px;
  font-size: 0.7em;
  text-transform: uppercase;
  margin: 2px 2px;
}
