.text-area__label {
  display: block;
  font-size: 18px;
  font-weight: 600;
  line-height: 1.1;
}

.text-area__textinput {
  font-size: 16px;
  line-height: 1.5;
  border: 1px solid;
  border-color: var(--color-red);
  outline: 0;
  width: 100%;
  -moz-appearance: none;
}
